<div class="container fn-page-container fn-49s">
	<div class="fn-small-hero-wrapper" >
	    <div id="smallCarousel" class="carousel slide" data-ride="carousel" >
	      <!-- Indicators -->
	      <ul class="carousel-indicators">
	      </ul>
	      <div class="carousel-inner" role="listbox" >
	      </div>
	    </div>
		<div class="fn-hero-small container" style="pointer-events:none;" ></div>
	</div>
    <section ng-controller="FNFNMenuController" class="fn-fn-menu-controller" ng-include src="'partials/49s/49s_menu.html'">
    </section>


    <div class ="fn-heading-concave container">
        <H2 class="fn-section-header" style="padding-top:10px;">49's RULES</H2>
    </div>


    <div class="fn-section-container">
        <p>
            49's takes place twice daily every day.  Six numbers plus a Bonus Number known as the "Booster" are drawn from balls marked 1-49.
        </p>
        <p>
            For the 'six number draw' choose up to 5 numbers from the first six numbers to be drawn.  For the " 7 number draw" (which includes the 'Booster' ball) choose up to 5 numbers from all seven numbers to be drawn.   If your bet is successful, you will receive the full accumulative odds listed on our 49's slip.
        </p>
        <p>
            The draw is broadcast live on SIS and results are displayed in shop following each draw.  Results are also available by calling 08718 778899 (calls cost 10p per minute - mobile tariffs vary).
        </p>

        <div class="fn-product-shape container">
            <div class="fn-section-container">

                <p style="font-size:1.1em;">
                The rules below have been compiled in consultation with the betting industry and represent the rules you will find in most betting shops.  However, some bookmakers rules do vary.  You are therefore advised to check with your betting shop before placing a bet.
                </p>

                <ol type="1" style="list-style:decimal;">
                    <li>
                        The maximum payout to any one customer or group/syndicate of customers, acting together, who have backed the same combination of selections including bets from the same source, is as displayed in the shop in which the bet was placed on any one 49's draw.
                    </li>
                    <li>
                        Bets are accepted on the 49's draw up to the official start time broadcast on SIS.
                    </li>
                    <li>
                        When a timed/named draw is selected, but the bet is accepted after the corresponding day's draw has taken place (if any), SINGLE BETS will be settled on the first draw to take place after the bet has been accepted, regardless of the draw name/time nominated on the slip.
                    </li>
                    <li>
                        When more than one draw is selected, the bet will be settled on the next actual named/timed consecutive draws to take place after the bet has been accepted.
                    </li>
                    <li>
                        When no draw or an incorrect draw is specified the bet will count for the next consecutive draw(s) to take place after the bet has been accepted.
                    </li>
                    <li>
                        If for any reason a draw does not take place, bets will stand for the next available "49's" draw unless cancelled by mutual consent.
                    </li>
                    <li>
                        49's bets may be placed on standard betting slips.
                    </li>
                    <li>
                        All bets will be deemed to be on the '6 Number Draw' unless otherwise stated.
                    </li>
                    <li>
                        49's bets will not qualify for consolations or bonuses if placed our range of specials e.g. 'Lucky 15s'. Where the total numbers chosen exceed five on any bet, it will be settled as a series of 'five correct' bets with the stake apportioned.
                    </li>
                    <li>
                        Multiple bets on a single 49's draw are also accepted. 49's bets cannot be combined with any other betting event, nor may two or more draws be combined in accumulative bets. Illegible figures will be treated as void with the bet reduced accordingly.
                    </li>
                    <li>
                        Odds will apply for the valid numbers only. For example, if a bet on the '3 numbers correct' section comprises two numbers and a void number, this bet will be settled on the odds applicable to the '2 numbers correct' section.
                    </li>
                    <li>
                        In '49's Bingo' bets where less than 9 numbers are chosen, or an incorrect number is chosen, or the same number is chosen more than once, or where figures are illegible, bets will be void.
                    </li>
                    <li>
                        In '49's Bingo' bets the 'Booster' ball does not count. Special bets available on a '49's' draw may not be combined with other bets from the same '49's' draw.
                    </li>
                    <li>
                        Rules of the individual betting shops will apply to any situations not covered by these rules.
                    </li>
                </ol>
            </div>
        </div>

        <a ng-href="../49s/how-to-play">Back to How to Play</a>

    </div>

</div>
