<div class="container fn-page-container fn-49s">
	<div class="fn-small-hero-wrapper" >
	    <div id="smallCarousel" class="carousel slide" data-ride="carousel" >
	      <!-- Indicators -->
	      <ul class="carousel-indicators">
	      </ul>
	      <div class="carousel-inner" role="listbox" >
	      </div>
	    </div>
		<div class="fn-hero-small container" style="pointer-events:none;" ></div>
	</div>
    <section ng-controller="FNFNMenuController" class="fn-fn-menu-controller" ng-include src="'partials/49s/49s_menu.html'">
    </section>

    <div class ="fn-heading-concave container">
        <H2 class="fn-section-header" style="padding-top:10px;">POOL TOGETHER, WIN TOGETHER!</H2>
    </div>
    <div class="fn-section-container" style="">
        <div class="fn-left-block-text">
            <br>Create your own syndicate today. More players, plus more numbers, means more chances to win.<br><br>
            <div>
                To request a <b>FREE</b> syndicate pack call <img style="margin-top:-7px;width:15px; height:20px;" src="../../img/icons/ic_phone.png">&nbsp;<span class="condensed-bold" style="margin:0;font-size:1.3em; color:#22397f;">0113 2533 933</span>. Send a request via our <a ng-href="../contact">contact form</a>, or download a PDF version by clicking the 'download pack' button.
            </div>
        </div>

        <div class="fn-orange-shape-small container fn-right-block-section">
            <H4 style="text-align:center;">SYNDICATE PACK</H4>

            <div class="fn-orange-button">
                DOWNLOAD PACK
                <a id="fn-49s-syndicate-button" target="_self" href="../media/syndicate_pack.pdf" download="syndicate_pack.pdf"></a>
            </div>

        </div>
    </div>
</div>
