<div class="container fn-page-container fn-rapido">
	<div class="fn-small-hero-wrapper" >
	    <div id="smallCarousel" class="carousel slide" data-ride="carousel" >
	      <!-- Indicators -->
	      <ul class="carousel-indicators">
	      </ul>
	      <div class="carousel-inner" role="listbox" >
	      </div>
	    </div>
		<div class="fn-hero-small container" style="pointer-events:none;" ></div>
	</div>
    <section ng-controller="FNRapidoMenuController" class="fn-fn-menu-controller" ng-include src="'partials/rapido/rapido_menu.html'">
    </section>
	<div id="slider">
 		<div class="fn-heading-concave container" style="vertical-align: middle;">
			<h2 class="fn-section-header">PREVIOUS RESULTS</h2>
            <div class="container fn-accent-text" style="text-align:center;margin-bottom:20px;width:100%;vertical-align: middle;">
                <div class="month-controls clearfix">
                	<div class="middle-coontrols">
	             		<div class="fn-dropdown fn-date-dropdown-month">
	      					<select class="fn-dropdown-select" name="month" id="month"  >
	                        	<option value="1">January</option>
	                        	<option value="2">February</option>
	                        	<option value="3">March</option>
	                        	<option value="4">April</option>
	                        	<option value="5">May</option>
	                        	<option value="6">June</option>
	                        	<option value="7">July</option>
	                        	<option value="8">August</option>
	                        	<option value="9">September</option>
	                        	<option value="10">October</option>
	                        	<option value="11">November</option>
	                        	<option value="12">December</option>
	                        </select>
	                    </div>
	                    <div class="fn-dropdown fn-date-dropdown-year">
	                        <select class="fn-dropdown-select" name="year" id="year"  >
	                        </select>
	                    </div>
                	</div>
	                <div class="fn-change-year-btn-left" >
	                    <a href="" id="prevMonthClick">
	                    	<img src="../../img/icons/ic_arrow_white.png" class="left-arrow-icon" >
	                        <div class="month-controls-circle mcc-red">
	                        </div>
	                        <div id="previous-month-switch" class="month-controls-name">January 2015</div>
	                    </a>
	                </div>
	                <div class="fn-change-year-btn-right" style="">
	                    <a href="" id="nextMonthClick">
	                        <div id="next-month-switch" class="month-controls-name">March 2015</div>
	                        <div class="month-controls-circle mcc-red">
	                        </div>
	                        <img src="../../img/icons/ic_arrow_white.png" class="right-arrow-icon" >
	                    </a>
	                </div>
                </div>
            </div>
            <div id="rapido_controlls" class="days-controls">
	             <div class="days-holder">
	                <ul id="days-list-rapido">
	                </ul>
	            </div>
            </div>
            <div id="lottery-results" class="clearfix" style="background:#1F46B5" >
                <div class="fn-results-top-arc"></div>
                <div class="results-container">
                	<img src="../../img/icons/ajax_loader.gif" class="fn-loading-spinner" style="display:none;" id="main-spinner"/>

					<div class="resoults-middle-container tab-content">
						<a href="#" ng-click="toggleDrawOrder()" class="fn-draw-order">{{drawSorted ? "Show in draw order" : "Show in numeric order"}}</a>





	                   	<div class="pagination-control" >
		      				<ul id="draw-list" >
							</ul>
						</div>
                    </div>
                   <div class="results-prev-day-btn">
                        <a id="previous-day"  data-toggle="tab" href="#draw_pagination_1" >
                            <img src="../../img/btn/ic_arrow_circle_left.png">
	                        <span class="prev-day-label">
	                            Previous<br>Day<br>
	                                <span class="fn-accent-text" id="previous-day-button">
	                                Sun 28th
	                                </span>
	                        </span>
                        </a>
                    </div>
                    <div  class="results-next-day-btn">
                        <a id="next-day" data-toggle="tab" href="#draw_pagination_1">
                            <img src="../../img/btn/ic_arrow_circle_right.png">
                        <span class="next-day-label">
                            Next<br>Day<br>
                                <span class="fn-accent-text" id="next-day-button">
                                Tue 30th
                                </span>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="fn-results-bottom-arc"></div>
            </div>
            <div id="check-numbers" style="padding:20px">
							<a name="check-numbers"></a>
                <h3>CHECK MY NUMBERS</h3>
                <div style="text-align:center;">
                    Enter your numbers
                    <div style="display:inline-block;margin:0 10px;">
                        <input type="text" class="fn-check-num-field" id="check_nb_1" ng-model="check_number_1" >
                        <input type="text" class="fn-check-num-field" id="check_nb_2" ng-model="check_number_2" >
                        <input type="text" class="fn-check-num-field" id="check_nb_3" ng-model="check_number_3" >
                        <input type="text" class="fn-check-num-field" id="check_nb_4" ng-model="check_number_4" >
                        <input type="text" class="fn-check-num-field" id="check_nb_5" ng-model="check_number_5" >
                        <input type="text" class="fn-check-num-field" id="check_nb_6" ng-model="check_number_6" >
                        <input type="text" class="fn-check-num-field" id="check_nb_7" ng-model="check_number_7" >
                        <input type="text" class="fn-check-num-field" id="check_nb_8" ng-model="check_number_8" >
                        <input type="text" class="fn-check-num-field" id="check_nb_9" ng-model="check_number_9" >
                        <input type="text" class="fn-check-num-field" id="check_nb_10" ng-model="check_number_10" >
                    </div>
                    <div id="clear_num_btn" class="fn-rapido-red-button" style="display:inline-block;" ng-click="clearNumbers()">CLEAR NUMBERS</div>
                </div>
				<div class="fn-white-bottom-arc"></div>
            </div>
		</div>
	</div>
</div>
