<div class="container fn-page-container fn-rapido">
	<div class="fn-small-hero-wrapper" >
	    <div id="smallCarousel" class="carousel slide" data-ride="carousel" >
	      <!-- Indicators -->
	      <ul class="carousel-indicators">
	      </ul>
	      <div class="carousel-inner" role="listbox" >
	      </div>
	    </div>
		<div class="fn-hero-small container" style="pointer-events:none;" ></div>
	</div>
    <section ng-controller="FNRapidoMenuController" class="fn-fn-menu-controller" ng-include src="'partials/rapido/rapido_menu.html'">
    </section>


    <div class ="fn-heading-concave container">
        <H2 class="fn-section-header" style="padding-top:10px;">RAPIDO RULES</H2>
    </div>


    <div class="fn-section-container">
        <p>
            Rapido draws are shown live on SIS every day, Monday to Friday (and some Saturdays and Sundays.  There are 80 numbers ie. 1 to 80, within the draw.  20 numbers will be randomly drawn from these 80 in each draw. You can choose up to 10 numbers and the winnings (total returns) available for each bet can be found in the table below.
        </p>
				<p>
						The draw is broadcast live on SIS and results are displayed in shop following each draw.
				</p>

				<div id="rapido-table-container">
				<table resize id="Rapidotbl" class="RapidoRules" border="0" cellspacing="0" cellpadding="0" style="margin:auto;">
				<tbody><tr>
						<th rowspan="2" class="left">Numbers matched</th>
						<th height="15" colspan="10" class="top">Numbers chosen</th>
				</tr>
				<tr>
						<td class="top">1</td> <td class="top">2</td> <td class="top">3</td> <td class="top">4</td> <td class="top">5</td> <td class="top">6</td>
						<td class="top">7</td> <td class="top">8</td> <td class="top">9</td> <td class="top">10</td>
				</tr>
				<tr> <td class="left">0</td> <td> </td>

		<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td>£1</td> <td>£1</td> <td>£1</td></tr> <tr> <td class="left">1</td> <td>£3.25</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td>

		</td></tr> <tr> <td class="left">2</td> <td> </td> <td>£13</td> <td>£1</td> <td>£1</td> <td> </td> <td> </td> <td> </td> <td> </td>

		<td> </td> <td> </td></tr> <tr> <td class="left">3</td> <td> </td> <td> </td> <td>£45</td> <td>£8</td> <td>£2</td> <td>£1</td> <td>

		</td> <td> </td> <td> </td> <td> </td></tr> <tr> <td class="left">4</td> <td> </td> <td> </td> <td> </td> <td>£64</td> <td>£20</td>

		<td>£7</td> <td>£2</td> <td>£1</td> <td> </td> <td> </td></tr> <tr> <td class="left">5</td> <td> </td> <td> </td> <td> </td> <td>

		</td> <td>£540</td> <td>£80</td> <td>£20</td> <td>£6</td> <td>£4</td> <td>£4</td></tr> <tr> <td class="left">6</td> <td> </td> <td>

		</td> <td> </td> <td> </td> <td> </td> <td>£1,250</td> <td>£400</td> <td>£50</td> <td>£25</td> <td>£20</td></tr> <tr> <td class="left">7</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td>£6,400</td> <td>£1,600</td> <td>£250</td>

		<td>£80</td></tr> <tr> <td class="left">8</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td>

		£24,000</td> <td>£6,400</td> <td>£400</td></tr> <tr> <td class="left">9</td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td>

		<td> </td> <td> </td> <td> </td> <td>£64,000</td> <td>£8,000</td></tr> <tr> <td class="left">10</td> <td> </td> <td> </td> <td> </td>

		<td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td> </td> <td>£80,000</td></tr></tbody></table>

		<br>

		<table class="RapidoRules" border="0" cellspacing="0" cellpadding="0" style="margin:auto;">
		<tbody>

		<tr>
				<th width="33%">Bet</th>
				<th width="33%">Odds</th>
				<th width="33%">Payout (based on £5 Stake)*</th>
		</tr>
		<tr>
				<td width="33%">Heads</td>
				<td width="33%">Evens</td>
				<td width="33%">£10</td>
		</tr>
		<tr>
				<td width="33%">Tails</td>
				<td width="33%">Evens</td>
				<td width="33%">£10</td>
		</tr>
		<tr>
				<td width="33%">Level</td>
				<td width="33%">3/1</td>
				<td width="33%">£20
		</td>
		</tr>
		</tbody>
		</table>
	</div>

        <div class="fn-product-shape container">
            <div class="fn-section-container">

                <p style="font-size:1.1em;">
                    The rules below have been compiled in consultation with the betting industry and represent the rules you will find in most betting shops.  However, some bookmakers rules do vary.  You are therefore advised to check with your betting shop before placing a bet.
                </p>

                <ol type="1" style="list-style:decimal;">
                    <li>
                        The maximum payout to any one customer or group/syndicate of customers acting together, who have backed the same combination of selections, including bets from the same source, is as displayed in the shop in which the bet was placed on any one Rapido draw.
                    </li>
                    <li>
                        Bets on more than 10 numbers will not be accepted.  If you make more than 10 selections, your bet will be void, win or lose <strong>(note:  this rule will vary depending on bookmaker's payout limit)</strong>.
                    </li>
                    <li>
                        Bets are accepted on Rapido draws up to the official start time broadcast on SIS. Where a bet is placed too late for the draw nominated a single draw entry will be settled on the next draw to take place after the bet has been accepted, regardless of the draw time/number indicated on the slip. Late selections in a multiple draw entry will be made void.
                    </li>
                    <li>
                        When a draw(s) has not been nominated, the bet will be placed on the next available draw to take place after the bet has been accepted.
                    </li>
                    <li>
                        A Rapido bet cannot be combined with any other bet, nor may two or more draws be combined in accumulative bets.
                    </li>
                    <li>
                        Multiple draw entries apply to the next consecutive 'Rapido' draws e.g. if 4 draws are chosen, numbers will count for the next 4 consecutive "Rapido" draws to take place after the bet has been accepted, unless otherwise instructed.
                    </li>
                    <li>
                        If for any reason a draw does not take place, bets will stand for the next available Rapido draw, unless cancelled by mutual consent.
                    </li>
                    <li>
                        Winnings (returns) quoted on promotional posters and slips refer to a £1 unit stake and stakes of different denominations will be settled in proportion.  Please note winnings quoted include the £1 stake.
                    </li>
                    <li>
                        Where you have indicated how many numbers you want to bet on at the top of the slip, but this differs from the number actually chosen, the bet will be settled on the actual selections chosen.
                    </li>
                    <li>
                        Illegible selections will be ignored and the bet reduced to cover the remaining numbers.  If the same numbers appear more than once on your bet we will ignore the number the second time it appears and your bet will be settled at the correct odds for the valid numbers.
                    </li>
                    <li>
                      Only one return (winning amount) will be paid per bet e.g. if 5 numbers are chosen and 4 are correct the total return is £20 not £20 + £2. See the 'How to play' section on how to calculate winning amounts.
                    </li>
                    <li>
                       Bets will not qualify for bonuses or consolations if placed on another speciality slip.
                    </li>
                    <li>
                      'Heads or Tails?' bets may be accepted on standard betting slips.
                    </li>
                    <li>
                      Rules of the individual betting shops will apply to any situations not covered by these rules.
                    </li>
                </ol>


                <br/>
                <br/>
                <strong>RAPIDO 'HEADS OR TAILS' RULES</strong>

                <p style="font-size:1.1em;">
                    'Heads or Tails?' bets can be placed on any Rapido draw shown live on SIS.  For 'Heads' 11 or more of the 20 numbers drawn must be in the range 1-40.  For 'Tails' 11 or more of the 20 numbers drawn must be in the range 41-80.  For 'Level' 10 numbers must be drawn in the range 1-40 and 10 numbers in the range 41-80.
                </p>

                <ol type="1" style="list-style:decimal;">
                    <li>
                        'Heads or Tails' selections taken from different draws may be combined together in accumulative/multiple bets.
                    </li>
                    <li>
                    'Heads or Tails' selections may be combined with bets on other events with the exception of 49's, Irish Lotto Bet and Rapido.
                    </li>
                    <li>
                    Winnings (returns) quoted on promotional posters refer to a £5.00 unit stake. Winnings quoted include the £5.00 stake.
                    </li>
                    <li>
                    Please refer to our Rapido rules for any situation not covered in these rules.
                    </li>
                </ol>
            </div>
        </div>

        <a ng-href="../rapido/how-to-play">Back to How to Play</a>

    </div>

</div>
