<div class="container fn-page-container fn-VGR">
	<div class="fn-small-hero-wrapper" >
	    <div id="smallCarousel" class="carousel slide" data-ride="carousel" >
	      <!-- Indicators -->
	      <ul class="carousel-indicators">
	      </ul>
	      <div class="carousel-inner" role="listbox" >
	      </div>
	    </div>
		<div class="fn-hero-small container" style="pointer-events:none;" ></div>
	</div>
    <section ng-controller="FNVGRMenuController" class="fn-fn-menu-controller" ng-include src="'partials/greyhoundracing/VGR_menu.html'">
    </section>


    <div class ="fn-heading-concave container">
        <H2 class="fn-section-header" style="padding-top:10px;">VIRTUAL GREYHOUND RACING RULES</H2>
    </div>


    <div class="fn-section-container">
        <p>
            Virtual Racing is a computer-generated presentation of a random number draw, in which each number is represented by a different horse or greyhound.
        </p>
        <p>
            The first number generated decides which runner wins the race, the second and third, which ones are placed etc. (with the exception of tricasts, only the first and second count in greyhound races).
        </p>
        <p>
            The race is broadcast live on SIS and the results are displayed in betting shops . Results are also available by calling 08718 778899 (calls cost 10p per minute - mobile phone tariffs may vary).
        </p>

        <div class="fn-product-shape container">
            <div class="fn-section-container">

                <p style="font-size:1.1em;">
                    Betting on Virtual Racing follows the same rules as for real horse or greyhound racing.
                </p>

                <ol type="1" style="list-style:decimal;">
                    <li>
                        Selections taken from Virtual Racing may be combined with bets on other events.
                    </li>
                    <li>

                        Selections taken from different Virtual Races may be combined in win and each-way multiple bets (e.g Doubles, trebles, Accumulators, etc. ). PLACE ONLY bets are not accepted.

                    </li>
                    <li>
                        Forecasts<br/>
                        A Straight Forecast dividend will be declared for every race. Forecast Doubles and Trebles are accepted. Forecast Accumulators are not accepted and if taken in error will be settled as Forecast Trebles with the stake divided.
                    </li>
                    <li>
                        Tricasts<br/>
                        A Tricast dividend will be declared for all Virtual Races.
                    </li>
                    <li>
                        Handicaps<br/>
                        A race is described as a handicap to signify the place terms on this race. It does not indicate an equal chance for every horse.
                    </li>
                    <li>
                        Bonus or Consolation payment will apply to Virtual Racing Bets placed on the range of special bets available in betting shops.
                    </li>
                    <li>
                        Bets on Virtual Greyhound Racing will be accepted up to the official “Off” time broadcast on SIS.
                    </li>
                    <li>
                        Maximum winnings are as stated in the shop in which the bet is placed.
                    </li>
                </ol>
            </div>
        </div>

        <a ng-href="../virtualgreyhoundracing/how-to-play">Back to How to Play</a>

    </div>

</div>
