<div class="container fn-page-container fn-VHR">
	<div class="fn-small-hero-wrapper" >
	    <div id="smallCarousel" class="carousel slide" data-ride="carousel" >
	      <!-- Indicators -->
	      <ul class="carousel-indicators">
	      </ul>
	      <div class="carousel-inner" role="listbox" >
	      </div>
	    </div>
		<div class="fn-hero-small container" style="pointer-events:none;" ></div>
	</div>

	<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
	            <h4 class="modal-title" id="modalLabel">HOW TO PLAY</h4>
	            </div>
				<video id="how_to_play_video" class="video-js vjs-default-skin"  controls preload="none" width="auto" height="auto" style="width:100%"
			        data-setup="{}">
			    	<source src="/uploads/videos/ILB_how_to_play_main_10.mp4" type='video/mp4' />
			    	<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
			  	</video>
	    	</div>
	  	</div>
	</div>

    <section ng-controller="FNVHRMenuController" class="fn-fn-menu-controller" ng-include src="'partials/horseracing/VHR_menu.html'">
    </section>

    <div class ="fn-heading-concave container">
        <H2 class="fn-section-header" style="padding-top:10px;">HOW TO PLAY</H2>
    </div>

    <div class="fn-section-container" style="display: inline-block;">

        <div class="fn-left-block-text">
            <p>
							Betting on Virtual Horse Racing is the same as betting on real horse racing. Race cards are generated the day before and printed on the Racing Post Betting Shop Display. Fixed odds are given to each horse and as with real racing, the shorter the odds the greater the chance of winning. All races are shown in real-time and can be viewed with live commentary in betting shops.
            </p>
            <p>
							To place a bet, use a normal plain slip and fill out in the usual manner, stating the meeting, time of the race, your selection and amount staked. Normal place terms apply and Forecasts and Tricasts can be placed on all races. Bets can be placed up to the official “Off” time and all bets are subject to the rules of the individual betting shops.
            </p>
        </div>

        <div class="fn-bethere-promo-container fn-right-block-section">
					<h4>HOW TO FILL IN YOUR BETTING SLIP</h4>
            <div class="fn-bethere-promo-item" style="width:100%;margin:0;">
                <img src={{thumbSrc}} class="fn-video-thumb" >
                <a href="#"    data-toggle="modal" data-target="#howToPlayMainVideoModal" ng-click="playMainVideo()">
                    <div class="fn-promo-section-cover">
                    </div>
                </a>
            </div>
			<div class="modal fade" id="howToPlayMainVideoModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
			            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
			            <h4 class="modal-title" id="modalLabel">HOW TO FILL IN YOUR BETTING SLIP</h4>
			            </div>

						<video id="how_to_play_main_video" class="video-js vjs-default-skin"  controls preload="none" width="auto" height="auto" style="width:100%"
					        data-setup="{}">
					    	<source src="{{videoSrc}}" type='video/mp4' />
					    	<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
					  	</video>
			    	</div>
			  	</div>
			</div>
        </div>
    </div>

    <div class="fn-section-container">
        <div>
            <h3>VIRTUAL HORSE RACING RULES</h3>
						The Virtual Horse Racing rules are just a guide, so you need to check the rules of the bookmaker that you place your bet with as they might be different. <a ng-href="../virtualhorseracing/rules">Read Rules</a>

        </div>
    </div>

</div>
