<div class="fn-help container">
	<div class="fn-small-hero-wrapper" >
	    <div id="smallCarousel" class="carousel slide" data-ride="carousel" >
	      <!-- Indicators -->
	      <ul class="carousel-indicators">
	      </ul>
	      <div class="carousel-inner" role="listbox" >
	      </div>
	    </div>
		<div class="fn-hero-small container" style="pointer-events:none;" ></div>
	</div>

    <div class ="fn-blue-heading-concave container">
        <H2 class="fn-section-header">BET HERE</H2>
    </div>
    <div class="fn-section-container">

		</br>
		<p>
			<span>Unfortunately at this time you can not place a bet through this site. However, all of our Shareholders websites offer bets on all products.</span>
		</p>
		<p>
		<span id="fn-bethere-note">Click one of the links below to proceed to a Shareholder website. Please note, by clicking one of the links you will be leaving the 49s.co.uk website.</span>
		</p>
	</br>
      <div id="fn-bethere-shareholder" ng-controller="FNShareholderController" ng-include src="'partials/fragment/shareholder.html'" />
    </div>
</div>
