<div class="fn-legal container">
    <div class ="fn-blue-heading-convex container">
        <H2 class="fn-section-header">LEGAL</H2>
    </div>
    <div style="padding-right:10px;padding-left:10px;">
      <div class="fn-blue-shape container">
        <div class="fn-section-container">
          <h3>49's COPYRIGHT</h3>
          <span>49’s Ltd is a company registered in England and Wales. Its registered address is 49's Ltd, PO Box 7835, London W1J 9YY and its registered number is 32856278.</span>
        </div>
      </div>

      <div class="fn-blue-shape container">
        <div class="fn-section-container">
          <h3>TRADEMARKS</h3>
          <span>49’s, Irish Lotto Bet, Lucky Numbers, Rapido, Portman Park, Steepledowns, Sprint Valley, Millersfield and Brushwood are all registered trademarks of 49’s Ltd.</span>
        </div>
      </div>

      <div class="fn-blue-shape container">
        <div class="fn-section-container">
          <h3>RESULTS DISCLAIMER</h3>
          <span>Although every effort is made to ensure the results are correct on this site, 49's Ltd excludes all liability in respect of any loss arising as a result of this site or reliance on information provided by the site. Customers are advised to check results with staff at their local betting shop.</span>
        </div>
      </div>
  </div>
</div>
