<div class="fn-mobileapp container">
  <div class="fn-small-hero-wrapper" >
	    <div id="smallCarousel" class="carousel slide" data-ride="carousel" >
	      <!-- Indicators -->
	      <ul class="carousel-indicators">
	      </ul>
	      <div class="carousel-inner" role="listbox" >
	      </div>
	    </div>
		<div class="fn-hero-small container" style="pointer-events:none;" ></div>
	</div>
    <div class ="fn-blue-heading-concave container">
        <H2 class="fn-section-header">MOBILE APP</H2>
    </div>

    <div class="fn-section-container" style="margin-top:40px;">
			<p>
        Do you have a smartphone or tablet?  If you do, why not download the FREE 49’s App, bringing you instant results for your favourite products.
			</p>
      <br>
			<p style="font-weight:bold;">
                <a href="https://itunes.apple.com/us/app/49s-results/id1016390395">
        <img src="../../img/icons/download_iphone.png">
        <br>
        For all iOS devices please click here to download your App from the Apple Store.</a>
			</p>
			<p style="font-weight:bold;">
                <a href="https://play.google.com/store/apps/details?id=com.red7mobile.fortynines">
        <img src="../../img/icons/download_android.png">
        <br>
        For all Android devices please click here to download your App from Google Play.</a>
			</p>
      <br>
			<p>
        At present the App is only available for iOS and Android devices.  If you use a different operating system and would like the App please tell us by <a href="../contact">clicking here</a>
			</p>
    </div>

</div>
