<div class="container fn-page-container fn-IL">
	<div class="fn-small-hero-wrapper" >
	    <div id="smallCarousel" class="carousel slide" data-ride="carousel" >
	      <!-- Indicators -->
	      <ul class="carousel-indicators">
	      </ul>
	      <div class="carousel-inner" role="listbox" >
	      </div>
	    </div>
		<div class="fn-hero-small container" style="pointer-events:none;" ></div>
	</div>

	<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
	            <h4 class="modal-title" id="modalLabel">HOW TO PLAY</h4>
	            </div>
				<video id="how_to_play_video" class="video-js vjs-default-skin"  controls preload="none" width="auto" height="auto" style="width:100%"
			        data-setup="{}">
			    	<source src="/uploads/videos/ILB_how_to_play_main_10.mp4" type='video/mp4' />
			    	<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
			  	</video>
	    	</div>
	  	</div>
	</div>

	<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
	            <h4 class="modal-title" id="modalLabel">HOW TO FILL IN YOUR BETTING SLIP</h4>
	            </div>
				<video id="how_to_play_video" class="video-js vjs-default-skin"  controls preload="none" width="auto" height="auto" style="width:100%"
			        data-setup="{}">
			    	<source src="/uploads/videos/ILB_how_to_play_main_10.mp4" type='video/mp4' />

			    	<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
			  	</video>
	    	</div>
	  	</div>
	</div>

    <section ng-controller="FNILMenuController" ng-include src="'partials/irishlotto/IL_menu.html'">
    </section>


    <div class ="fn-heading-concave container">
        <H3 class="fn-section-header" style="padding-top:10px;">HOW TO PLAY</H3>
    </div>


    <div class="fn-section-container" style="display: inline-block;">

        <div class="fn-left-block-text">
            <p>
                The Irish Lotto Bet (known as “Lucky Numbers” in Ireland) is based on the outcome of the Irish National Lottery.
            </p><p>
                There are 3 draws every Wednesday and Saturday. The three draws are called ‘Main Draw’, ‘2nd Draw’ and ‘3rd Draw’.
            </p><p>
                You can bet on 1 to 6 numbers from the 47 in each draw. Bookmaker bets may vary. Six numbers and a bonus ball are drawn and you can select to play either the 6 number or 7 number draw (which includes the bonus ball to increase your chances of winning).
            </p><p>
                Bets should be placed by 7.00pm on the day of the draw.
            </p>
        </div>

        <div class="fn-bethere-promo-container fn-right-block-section">
					<h4>HOW TO FILL IN YOUR BETTING SLIP</h4>
            <div class="fn-bethere-promo-item" style="width:100%;margin:0;">
                <img src={{thumbSrc}} class="fn-video-thumb" >
                <a href="#"    data-toggle="modal" data-target="#howToPlayMainVideoModal" ng-click="playMainVideo()">
                    <div class="fn-promo-section-cover">
                    </div>
                </a>
            </div>
			<div class="modal fade" id="howToPlayMainVideoModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
			            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
			            <h4 class="modal-title" id="modalLabel">HOW TO FILL IN YOUR BETTING SLIP</h4>
			            </div>

						<video id="how_to_play_main_video" class="video-js vjs-default-skin"  controls preload="none" width="auto" height="auto" style="width:100%"
					        data-setup="{}">
					    	<source src="{{videoSrc}}" type='video/mp4' />
					    	<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
					  	</video>
			    	</div>
			  	</div>
			</div>
        </div>

    </div>

    <div class="fn-section-container">
        <div>
            <h3>IRISH LOTTO BET RULES</h3>
						The Irish Lotto Bet rules are just a guide, so you need to check the rules of the bookmaker that you place your bet with as they might be different. <a ng-href="../irishlottobet/rules">Read Rules</a>

        </div>
        <hr>

        <div>
            <h3>PICK AND MATCH</h3>
						Simply enter your stake below, choose how many numbers you matched and click the WIN AMOUNT button to see how much you could win on Irish Lotto Bet.

            <div class="fn-product-shape container" style="text-align:center;">

                <form novalidate >
                    <div class="fn-play-match-input-container">
                        <label for="stakeField">Your Stake</label>
                        <span class="fn-currency-symbol"></span>
                        <input id="stakeField" type="text" placeholder="1.00" style="width:100%" ng-model="stakeOptions.stake">
                    </div>

                    <div class="fn-play-match-input-container">
                        <label for="numbersField">Numbers Matched</label>
                        <div class="fn-dropdown fn-date-dropdown-month fn-play-match-input">
                            <select class="fn-dropdown-select" id="numbersField" ng-model="stakeOptions.numBalls" ng-options="opt as opt.label for opt in ballAmounts"></select>
                        </div>
                    </div>

                    <a href="#" ng-click="update(stakeOptions)">
                        <div class="fn-green-button" style="display: inline-block;vertical-align: top">
													WIN AMOUNT
                        </div>
                    </a>
                </form>

                <div class="fn-results-previous" style="height:auto;color:white;">
                    <div class="fn-results-top-arc"></div>
                    <div class="fn-results-bottom-arc"></div>
										<div class="fn-playmatch-results condensed-bold" style="font-size:1.6em;">
											<div class="fn-playmatch-results-left">
															<span class="fn-accent-text">6 NUMBER DRAW</span>
															<br/>
															<span>£{{sixWinnings}}</span>
													</div>
													<div class="fn-playmatch-results-or">
															OR
													</div>
													<div class="fn-playmatch-results-right">
															<span class="fn-accent-text">7 NUMBER DRAW</span>
															<br/>
															<span>£{{sevenWinnings}}</span>
															<br/>
													</div>
										</div>
										<div style="padding-bottom:10px">
										Please check payout limits with bookmakers.
									</div>
                </div>
                <p>
                    <br/>
										Winning amounts include your stake.  Bet types and payouts may vary so please check with your local bookmaker.
                </p>
            </div>

        </div>

    </div>

</div>
