<div class="container fn-page-container fn-IL">
	<div class="fn-small-hero-wrapper" >
	    <div id="smallCarousel" class="carousel slide" data-ride="carousel" >
	      <!-- Indicators -->
	      <ul class="carousel-indicators">
	      </ul>
	      <div class="carousel-inner" role="listbox" >
	      </div>
	    </div>
		<div class="fn-hero-small container" style="pointer-events:none;" ></div>
	</div>
    <section ng-controller="FNILMenuController" class="fn-fn-menu-controller" ng-include src="'partials/irishlotto/IL_menu.html'">
    </section>
    <div class ="fn-heading-concave container">
          <H2 class="fn-section-header" style="padding-top:10px;">LUCKY DIP</H2>
    </div>
    <div class="fn-section-container"  style="text-align:center;">
        <iframe src="../iframes/ILB_RNG/" width="100%" height="536px"></iframe>
    </div>
</div>
