<div class="container fn-page-container fn-IL">
	<div class="fn-small-hero-wrapper" >
	    <div id="smallCarousel" class="carousel slide" data-ride="carousel" >
	      <!-- Indicators -->
	      <ul class="carousel-indicators">
	      </ul>
	      <div class="carousel-inner" role="listbox" >
	      </div>
	    </div>
		<div class="fn-hero-small container" style="pointer-events:none;" ></div>
	</div>
    <section ng-controller="FNILMenuController" class="fn-fn-menu-controller" ng-include src="'partials/irishlotto/IL_menu.html'">
    </section>


    <div class ="fn-heading-concave container">
        <H2 class="fn-section-header" style="padding-top:10px;">IRISH LOTTO BET RULES</H2>
    </div>


    <div class="fn-section-container">
        <p>
            The Irish National Lotto draw takes place on a Wednesday and a Saturday evening. There are three draws on each of these evenings - a Main draw (Lotto), a Second draw (Lotto Plus 1) and a Third (Lotto Plus 2). Six numbers plus a bonus number are drawn from balls marked 1-47.
        </p>
        <p>
            Simply predict the numbers drawn, with or without the bonus ball, up to a maximum of five numbers and if your numbers are correct, you will receive full accumulative odds based on the individual odds quoted.
        </p>
        <p>
            Results are displayed in betting shops following each draw and are published in the Irish press.  The results can also be obtained by calling 08718 778899 (calls cost 12p per minute plus your phone company’s access charge).
        </p>

        <div class="fn-product-shape container">
            <div class="fn-section-container">

                <p style="font-size:1.1em;">
                    The rules below have been compiled in consultation with the betting industry and represent the rules you will find in most betting shops.  However, some bookmakers rules do vary.  You are therefore advised to check with your betting shop before placing a bet.
                </p>

                <ol type="1" style="list-style:decimal;">
                    <li>
                        The maximum payout to any one customer or group/syndicate of customers, acting together, who have backed the same combination of selections including bets from the same source, is as stated in the shop in which the bet was placed on any one Irish Lotto Bet draw.
                    </li>
                    <li>
                        Bets are accepted on the Irish Lotto MAIN, 2ND and 3RD draws up to 15 minutes prior to the MAIN draw being made i.e. 7.45pm. Any bet accepted after this time will be void unless we are statisfied that the bet was placed before the draw started.
                    </li>
                    <li>
                        Where a draw has not been chosen (ticked) on the front of the slip the bet will stand on the first MAIN draw to take place. For example, bets placed after the Saturday draws, up to and including Wednesday, will be settled on the result of the Wednesday MAIN Irish Lotto draw. Bets placed after the Wednesday draws, up to and including Saturday, will be settled on the result of the Saturday MAIN draw. A bet will only stand on the 2ND or 3RD draw of a Wednesday or Saturday evening when it has been chosen on the front of the slip. The 'no more bets' signal given in betting shops applies to both the MAIN, 2ND and 3RD draw of that evening as they run closely one after the other.
                    </li>
                    <li>
                        In the event of the MAIN, 2ND or 3RD draw not taking place on either a Wednesday or Saturday, the bet will stand on the next Main draw to take place unless cancelled by mutual consent.
                    </li>
                    <li>
                        Irish Lotto Bets may be placed on standard betting slips. Multiple bets are also accepted on single Irish Lotto draw; for example, three numbers in a patent = 7 bets. All bets will be deemed to be on the '6 Number Draw' unless otherwise stated. Irish Lotto Bets will not qualify for consolations or bonuses if placed on our range of special bets. Where the total numbers chosen exceed five on any bet, it will be settled as a series of 'five correct' bets with the stake apportioned.
                    </li>
                    <li>
                        Irish Lotto Bets cannot be combined with any other betting event, nor may two or more draws be combined in accumulative bets.
                    </li>
                    <li>
                        Illegible figures will be treated as void with the bet reduced accordingly. Odds will apply for the valid numbers only, for example if a bet on the '3 numbers correct' section comprises two numbers and a void number, this bet will be settled on the odds applicable to the '2 numbers correct' section.
                    </li>
                    <li>
                        Rules of the individual betting shops will apply to any situations not covered by these rules.
                    </li>
                    <li>
                        Understaked bets will be proportionately settled.
                    </li>
                    <li>
                        The Irish Lotto Bet slip is only to be used for bets on the Irish Lotto in betting shops within the UK. In Ireland please use Lucky Numbers play slips.
                    </li>
                </ol>
            </div>
        </div>

        <a ng-href="../irishlottobet/how-to-play">Back to How to Play</a>

    </div>

</div>
