<div class="fn-shareholder-container">
    <div class="fn-bethere-promo-container">
        <div ng-repeat="option in shareholderBoxes" class="fn-bethere-promo-item">
          <div class="" style="width:100%; height:100%; position:absolute;left:0;top:0;right:0;bottom:0;background:url({{option.img}});background-size:100% auto;background-repeat: no-repeat;"></div>
              <a ng-href="{{option.link}}" target="_blank">
                <div class="fn-promo-section-cover"></div>
            </a>
        </div>
    </div>
</div>
